<div class="footer-flex px-8 pb-8">
    <div class="footer-main">
        <div class="flex gap-9 justify-start items-center text-2xl cursor-pointer">
            <i class="bi bi-facebook"></i>
            <i class="bi bi-instagram"></i>
            <i class="bi bi-twitter"></i>
            <i class="bi bi-youtube"></i>
        </div>
        <div class="flex text-xs text-[#808080] gap-8 justify-around mt-4">
            <div class="flex flex-col gap-1 ">
                <a class="hover:underline" href="">Audio Description</a>
                <a class="hover:underline" href="">Gift Cards</a>
                <a class="hover:underline" href="">Investor Relations</a>
            </div>
            <div class="flex flex-col gap-1 ">
                <a class="hover:underline" href="">Terms of Use</a>
                <a class="hover:underline" href="">Legal Notices</a>
                <a class="hover:underline" href="">Coprporate Information</a>
            </div>
            <div class="flex flex-col gap-1">
                <a class="hover:underline" href="">Help Center</a>
                <a class="hover:underline" href="">Media Center</a>
                <a class="hover:underline" href="">Jobs</a>
            </div>
            <div class="flex flex-col gap-1">
                <a class="hover:underline" href="">Privacy</a>
                <a class="hover:underline" href="">Cookie Preferences</a>
                <a class="hover:underline" href="">Contact Us</a>
            </div>
        </div>
        <div class="mt-4">
            <div class="box-code px-2 py-1 text-xs text-[#808080] hover:text-white text-center">Service Code</div>
        </div>
        <div class="text-xs text-[#808080] mt-3">
            © 1997-2024 Netflix, Inc.
        </div>
    </div>
</div>
